body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(#0d7a79,#ffd43b);
    min-height:100vh;
}

header{
    text-align:center;
    color:white;
    padding:40px;
}

.container{
    max-width:700px;
    margin:auto;
    padding:20px;
}

.post{
    display:block;
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:14px;
    text-decoration:none;
    color:#0d7a79;
    transition:0.3s;
}

.post:hover{
    transform:scale(1.03);
}
