body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
}

.site-header {
  text-align: center;
  padding: 40px 20px;
  background: white;
}

.site-header h1 {
  margin: 0;
  font-size: 42px;
}

/* GRIGLIA */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 40px;
}

/* CARD */
.card {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-radius: 14px;
  text-decoration: none;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.card:hover .card-img {
  transform: scale(1.05);
}

/* overlay titolo */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0,0.45);
}

.overlay h2 {
  color: white;
  margin: 0;
  font-size: 24px;
}

/* PAGINA POST */
.post-container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 40px;
}

.post-cover {
  width: 100%;
  border-radius: 12px;
  margin: 20px 0;
}

